<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nutella ✔ bubu</string>
	<string>Snickers</string>
	<string>M and M</string>
	<string>Kit kat</string>
	<string>Nougat</string>
	<string>pesek zman</string>
	<string>All in</string>
	<string>Universal</string>
	<string>Eclair</string>
	<string>Lolipop &#x1f36d;</string>
</array>
</plist>
